# TI Code Composer Studio (CCS) Build Artifacts
Debug/
Release/
*.out
*.map
*.obj
*.d
*.asm
*.hex
*.bin

# CCS Workspace metadata 
.launches/
.settings/
*.cmd.bak
/ePWM_test.c
/ePWM_test.h
/Big_Picture.md
/ADC_test.c
/ADC_test.h
